html {
    height: 100%;
}

body {
    font-family: 'Wallpoet', cursive;
    color: white;
    font-size: 6vw;
}

.bg {
    background-image: url("../imgs/market.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.subtitle {
    font-size: 5vw;
}

.subtext {
    font-size: 30%;
}

.heading {
    font-size: 40%;
    color:#FF0082;
}

.p-text {
    font-size: 25%;
}

.p-code {
    font-family: 'Courier New', Courier, monospace;
}

.img-link {
    width: 12%;
}

a {
    color: white
}